body {
    background: #e8d7b9;
    font-family: Georgia;
    text-align: center;
}

.titulo {
    margin-top: 25px;
    font-size: 32px;
}

#contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

#personajeBox {
    width: 300px;
    background: #f3e4c8;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #704214;
}

.personaje {
    width: 200px;
    border: 3px solid #704214;
    background: #fff5d6;
    border-radius: 6px;
}

#panelArmas {
    background: #f3e4c8;
    width: 200px;
    padding: 20px;
    border: 3px solid #704214;
    border-radius: 8px;
}

#panelArmas button {
    width: 160px;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    background: #cfa972;
    border: 2px solid #5a3b17;
    border-radius: 5px;
}

#stats {
    margin-top: 20px;
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
}

.barra {
    width: 100%;
    background: #ccc;
    height: 12px;
    border: 1px solid #704214;
    border-radius: 3px;
    margin-bottom: 10px;
}

.relleno {
    height: 100%;
    border-radius: 3px;
}
